<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/user/welcome">
        <img src="/img/logo-small.png" alt="<%- PER.const.title %>">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/chat"><%= i18n._chat %></a>
            </li>
        </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%- user.getDisplayName() %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/user/profile"><%= i18n._profile %></a>
                <a class="dropdown-item" href="/user/settings"><%= i18n._settings %></a>
                <a class="dropdown-item" href="/user/logout"><%= i18n._logout %></a>
            </div>
        </div>
    </div>
</nav>