<%- i18n._dear %> <b><%- user.getDisplayName() %></b>
<br/><br/>
<%- i18n.msgEmailResetPassword %>
<br/><br/>
<a href="<%- url %>reset/<%- user.password_reset_token %>/<%- user.email %>">
    <%- i18n._resetYourPassword %>
</a>